:root {
    --monitor-color: #FDF5E4;
    --screen-color: #0BEBE7;
    --grey: #D9D9D9;
    --dark-grey: #797979;
    --darker-grey: #626262;
    --light-grey: #F0F0F0;
    --font-title: 1.5rem;
}

* {
    user-select: none;
}

/* Body, he was just born. */

/*   Henlo! I was just born!
      /                     */
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--monitor-color);
}

/* Common Elements */
button {
    border: 3px inset var(--light-grey);
    background-color: var(--grey);


    &:hover {
        background-color: var(--grey);
    }
}

/* Monitor. He's like a elitist bird with the amount of nests he has. */

/*  Tweet Tweet Cha-Ching Cha-Ching, broke bird.
      /                                         */
.monitor {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .monitorInteractables {
        height: 5em;
        display: flex;
        justify-content: space-between;
        padding: 0 2em 0 2em;
        align-items: center;

        .monitorDiskDrive {
            width: 50em;
            height: 3.5em;
            background-color: black;
        }

        .monitorPower {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;

            .monitorPowerOnBtn {
                width: 10.5em;
                height: 5em;
                background-color: #d9d9d9;
                border: none;

                &:hover {
                    cursor: pointer;
                }
            }

            .monitorPowerLight {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 5em;
                height: 4.25em;
                background-color: black;

                .monitorPowerInner {
                    width: 3.5em;
                    height: 2.5em;
                    opacity: 0.5;
                    background-color: rgb(119, 119, 119);
                    box-shadow: none;
                }

                &.on {
                    background-color: rgb(2, 192, 2);
                    box-shadow: lightgreen 0 0 1em;

                    .monitorPowerInner {
                        opacity: 0.5;
                        background-color: rgb(118, 228, 118);
                        box-shadow: lightgreen 0 0 2em;
                    }
                }
            }
        }
    }
}

.desktop {
    display: flex;
    overflow: hidden;
    background-color: #0BEBE7;
    width: 90vw;
    height: 85vh;
    border: 0.5em solid rgba(0, 0, 0, 0.25);
    overflow: hidden;

    &::after {
        content: " ";
        display: block;
        position: absolute;
        width: 90vw;
        height: 85vh;
        background: rgba(18, 16, 16, 0.1);
        opacity: 0;
        z-index: 2;
        pointer-events: none;
        animation: flicker 2s infinite;
    }

    &:hover {
        cursor: url('./assets/images/cursors/desktop-cursor.png') 0 0, auto;
    }

    #icons {
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1em;
    }
}

.icon {
    width: 5em;
    height: 5em;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    background-color: white;

    &.inactive {
        opacity: 0;
    }

    &:hover {
        cursor: url('./assets/images/cursors/desktop-cursor-pointer.png') 0 0, auto;
    }
}

.window {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 25%;
    height: 25%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--light-grey);
    border: 2px solid var(--darker-grey);

    &.hidden {
        display: none;
    }
}

.windowBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--light);
    background-color: var(--grey);
    position: relative;
    border-bottom: 2px solid var(--darker-grey);
    flex-shrink: 0;
    cursor: url('./assets/cursors/Pan.cur') 0 0, auto;

    &:active {
        cursor: url('./assets/cursors/Grabbing.cur') 0 0, auto;
    }

    .windowButton {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        height: 1.75em;
        width: 2.25em;

        &.btnClose {
            background-color: #ff7e7e;
            border-right: 2px solid var(--dark-grey);
        }

        &:active {
            background-color: #ff7e7e;
        }
    }

    .windowTitle {
        padding-left: 1em;
    }
}

.windowBody {
    flex: 1;
    border-top: none;
    overflow: hidden;
}

.umail .windowBody {
    display: flex;

    .contactsBar {
        display: flex;
        flex-direction: column;
        width: 30%;
        border-right: 2px solid var(--dark-grey);

        .contactsList {
            list-style-type: none;
            padding: 0;
            margin: 0;

            .contact {
                padding: 0 1em 0 1em;
                border-bottom: 1px solid;
            }
        }
    }

    .umailChat {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;

        .chatTitle {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid var(--dark-grey);
        }

        .umailChatLogs {
            display: flex;
            flex-direction: column-reverse;
        }

        .choiceBoxes {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;

            .choiceBox {
                width: 33%;
                height: 2em;
                padding: 0.25em;
                border-top: 2px solid var(--dark-grey);
                border-right: 2px solid var(--dark-grey);

                &:nth-child(2) {
                    width: 34%;
                }

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}

@keyframes flicker {
    0% {
        opacity: 0.2;
    }

    5% {
        opacity: 0.3;
    }

    10% {
        opacity: 0.2;
    }

    15% {
        opacity: 0.9;
    }

    20% {
        opacity: 0.1;
    }

    25% {
        opacity: 0.8;
    }

    30% {
        opacity: 0.6;
    }

    35% {
        opacity: 0.6;
    }

    40% {
        opacity: 0.2;
    }

    45% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.9;
    }

    55% {
        opacity: 0.1;
    }

    60% {
        opacity: 0.2;
    }

    65% {
        opacity: 0.7;
    }

    70% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.3;
    }

    80% {
        opacity: 0.7;
    }

    85% {
        opacity: 0.7;
    }

    90% {
        opacity: 0.7;
    }

    95% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.2;
    }
}