:root {
    --monitor-color: #FDF5E4;
    --screen-color: #0BEBE7;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--monitor-color);
}

.monitor {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .monitorInteractables {
        height: 5em;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .monitorDiskDrive {
            width: 50em;
            height: 3.5em;
            background-color: black;
        }

        .monitorPower {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;

            .monitorPowerOnBtn {
                width: 7.5em;
                height: 4em;
                background-color: #d9d9d9;
                border: none;

                &:hover {
                    cursor: pointer;
                }
            }
    
            .monitorPowerLight {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 4em;
                height: 3.25em;
                background-color: black;

                &.on {
                    border: 1px solid lightgreen;
                    background-color: rgb(2, 192, 2);
                    box-shadow: lightgreen 0 0 1em;
                }

                .monitorPowerInner {
                    width: 2.5em;
                    height: 1.5em;
                    opacity: 0.5;
                    
                    &.on {
                        background-color: rgb(101, 212, 101);
                        box-shadow: lightgreen 0 0 2em;
                    }
                }
            }
        }
    }
}

.desktop {
    display: flex;
    overflow: hidden;
    background-color: black;
    width: 90vw;
    height: 85vh;
    border: 0.5em solid rgba(0, 0, 0, 0.25);
    
    &::after {
        content: " ";
        display: block;
        position: absolute;
        width: 90vw;
        height: 85vh;
        background: rgba(18, 16, 16, 0.1);
        opacity: 0;
        z-index: 2;
        pointer-events: none;
        animation: flicker 2s infinite;
    }

    &:hover {
        cursor: url('./assets/images/cursors/desktop-cursor.png') 0 0, auto;
    }

    .icons {
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1em;
    }
}

.icon {
    width: 5em;
    height: 5em;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    background-color: white;
    animation: textShadow 1s ease-in-out 2s infinite backwards;

    &.inactive {
        opacity: 0;
    }

    &:hover {
        cursor: url('./assets/images/cursors/desktop-cursor-pointer.png') 0 0, auto;
    }
}

@keyframes flicker {
    0% {
        opacity: 0.2;
    }

    5% {
        opacity: 0.3;
    }

    10% {
        opacity: 0.2;
    }

    15% {
        opacity: 0.9;
    }

    20% {
        opacity: 0.1;
    }

    25% {
        opacity: 0.8;
    }

    30% {
        opacity: 0.6;
    }

    35% {
        opacity: 0.6;
    }

    40% {
        opacity: 0.2;
    }

    45% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.9;
    }

    55% {
        opacity: 0.1;
    }

    60% {
        opacity: 0.2;
    }

    65% {
        opacity: 0.7;
    }

    70% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.3;
    }

    80% {
        opacity: 0.7;
    }

    85% {
        opacity: 0.7;
    }

    90% {
        opacity: 0.7;
    }

    95% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.2;
    }
}

@keyframes textShadow {
    0% {
        text-shadow: 0.4 0 1px rgba(0, 30, 255, 0.5), -0.4 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    5% {
        text-shadow: 2.7 0 1px rgba(0, 30, 255, 0.5), -2.7 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    10% {
        text-shadow: 0.02 0 1px rgba(0, 30, 255, 0.5), -0.02 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    15% {
        text-shadow: 0.4 0 1px rgba(0, 30, 255, 0.5), -0.4 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    20% {
        text-shadow: 3.4 0 1px rgba(0, 30, 255, 0.5), -3.4 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    25% {
        text-shadow: 1.6 0 1px rgba(0, 30, 255, 0.5), -1.6 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    30% {
        text-shadow: 0.7 0 1px rgba(0, 30, 255, 0.5), -0.7 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    35% {
        text-shadow: 3.8 0 1px rgba(0, 30, 255, 0.5), -3.8 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    40% {
        text-shadow: 3.9 0 1px rgba(0, 30, 255, 0.5), -3.9 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    45% {
        text-shadow: 2.2 0 1px rgba(0, 30, 255, 0.5), -2.2 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    50% {
        text-shadow: 0.08 0 1px rgba(0, 30, 255, 0.5), -0.08 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    55% {
        text-shadow: 2.3 0 1px rgba(0, 30, 255, 0.5), -2.3 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    60% {
        text-shadow: 2.2 0 1px rgba(0, 30, 255, 0.5), -2.2 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    65% {
        text-shadow: 2.8 0 1px rgba(0, 30, 255, 0.5), -2.8 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    70% {
        text-shadow: 0.5 0 1px rgba(0, 30, 255, 0.5), -0.5 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    75% {
        text-shadow: 1.9 0 1px rgba(0, 30, 255, 0.5), -1.9 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    80% {
        text-shadow: 0.1 0 1px rgba(0, 30, 255, 0.5), -0.1 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    85% {
        text-shadow: 0.1 0 1px rgba(0, 30, 255, 0.5), -0.1 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    90% {
        text-shadow: 3.4 0 1px rgba(0, 30, 255, 0.5), -3.4 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    95% {
        text-shadow: 2.2 0 1px rgba(0, 30, 255, 0.5), -2.2 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    100% {
        text-shadow: 2.6 0 1px rgba(0, 30, 255, 0.5), -2.6 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
}